<!--The content below is only a placeholder and can be replaced.-->
<input type="file" #file (change)="updateFiles(file.files)">
<input type="button" (click)="upload()" value="Send">
<p *ngIf="percent > 0">Progress: {{ percent }}%</p>

 <ul>
  <li>
    <h2><img height="150" width="300" src="https://dongeuistorage1.blob.core.windows.net/blob/Chrysanthemum.jpg"></h2>
  </li>
  <li>
    <h2><img height="150" width="300" src="https://dongeuistorage1.blob.core.windows.net/blob/Desert.jpg"></h2>
  </li>
  <li>
    <h2><img height="150" width="300" src="https://dongeuistorage1.blob.core.windows.net/blob/Desert.jpg"></h2>
  </li>
</ul> 

